.navbar-fixed-top{
    position: sticky;
    top: 0;
    z-index: 200;
}
--ifm-navbar-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.5);
--ifm-navbar-padding-horizontal: var(--ifm-spacing-horizontal);
.navbar {
    padding: var(--ifm-navbar-padding-vertical) var(--ifm-navbar-padding-horizontal);
    --bs-navbar-padding-x:  !important;
    --bs-navbar-padding-y: 0.5rem !important;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65) !important;
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8) !important;
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3) !important;
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1) !important;
    --bs-navbar-brand-padding-y: 0.3125rem !important;
    --bs-navbar-brand-margin-end: 1rem !important;
    --bs-navbar-brand-font-size: 1.25rem !important;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1) !important;
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1) !important;
    --bs-navbar-nav-link-padding-x: 0.5rem !important;
    --bs-navbar-toggler-padding-y: 0.25rem !important;
    --bs-navbar-toggler-padding-x: 0.75rem !important;
    --bs-navbar-toggler-font-size: 1.25rem !important;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(33, 37, 41, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15) !important;
    --bs-navbar-toggler-border-radius: var(--bs-border-radius) !important;
    --bs-navbar-toggler-focus-width: 0.25rem !important;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out !important;

    align-items: center !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x) !important;
    position: relative !important;
}
