<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false"/>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>