.OnePatient {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.PatientInfo {
    border: 2px solid blue;
    width: 800px;
    height: 200px;
  }
  
.Header {
    border: 1px solid black;
    border-spacing: 10px;
    text-align: center;
    width: 250px;
    height: 200px;
  }
  
  td {
    text-align: center;
    font-weight: normal;
  }

.pm-remove{
  display: flex;
  justify-content: end;
}