.container1{
    background-color: aqua;
     border-radius: 10px;
}

.container2{
    display: block;
    background-color: aqua;
}
.ai-container1{
  text-align: center;
}
.ai-image {
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    object-fit: cover;
}

.ai-container2{
  background-color: white ;
  padding: 2rem;
  margin-top: 1.5rem;
  width: 90%;
  border-radius: 15px;
  width: 90%;

}
/* Ensure the sidebar has a lower z-index */
.sidebar-menu {
    z-index: 1; /* Ensure it's lower than the modal */
  }
  
  /* Modal specific styles */
  .modal-backdrop {
    z-index: 1040 !important;
  }
  .modal-dialog {
    z-index: 1050 !important;
  }
/* AccountInfo.css */
.image-upload-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 6634534; /* Ensure modal is on top of other content */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9934349; /* Ensure overlay is behind the modal but on top of other content */
  }
    
/* AccountInfo.css */
.ai-container {
  padding: 2rem;
  background-color: white;
  border-radius: 15px;
  width: 90%;

}

.ai-imageupload{
  background-color: #0D6EFD;
  color: white;
  width: 8vw;
  border: 0;
  padding: 0.5rem;
  border-radius: 10px;
}

.ai-image-wrapper {
  position: relative;
  display: inline-block;
}

.ai-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.ai-upload-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.ai-upload-button:hover {
  background-color: #0056b3;
}
.horizontal-tabs {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	overflow-x: auto;
	@media (max-width: 1000px) {
		scrollbar-width: none;
		position: relative;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	a {
		display: inline-flex;
		flex-shrink: 0;
		align-items: center;
		height: 48px;
		padding: 0 0.25rem;
		font-weight: 500;
		color: inherit;
		border-bottom: 3px solid transparent;
		text-decoration: none;
		transition: 0.15s ease;
		&:hover,
		&:focus,
		&.active {
			color: var(--c-accent-primary);
			border-bottom-color: var(--c-accent-primary);
		}

		& + * {
			margin-left: 1rem;
		}
	}
}


.border-top{
  border-top: 1px solid var(--c-border-primary);
    display: flex;

    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    margin-top: -1px;
}

.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}