.Appointment {
    text-justify: auto;
    text-align: left;
    padding: 30px;
    font-weight: bold;
}

.Tab {
    text-justify: auto;
    text-align: left;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
.appointmentbox {
        height: 60px;
        width: 150px;
        padding: 10px;
        margin: 20px;
        background-color: rgb(224, 213, 213);
        color: black;
        display: flex;
}
    
.appointmentbox2 {
      height: 60px;
      width: 150px;
      padding: 10px;
      margin: 20px;
      background-color: rgb(224, 213, 213);
      color: black;
      display: flex;
}
    .appointmentbox3 {
      height: 60px;
      width: 150px;
      padding: 10px;
      margin: 20px;
      background-color: rgb(224, 213, 213);
      color: black;
      display:flex;
}

.number {
    background-color: red;
    color: white;
    padding: 2px 2px;
    height: 30px;
    width: 60px;
    text-align: right;
    border-radius: 5px;
  }

    .patientname {
        letter-spacing: 3px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
      
      .listpatients {
        width: auto;
        height: auto;
        display:inline-flex;
        justify-content:space-between;
        align-items: center;
        
}
  
      
      th {
  
        text-align: center;
}
      
      td {
        text-align: center;
        font-weight: normal;
}



.pa-container{
 padding-left: 2.5rem;
 padding-right: 2.5rem;
 padding-top: 2.5rem;

}