.gaTCvF {
    background: rgb(26, 32, 59)!important;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 290px ;
    min-width: 290px ;
    text-align: left;
    transition: width 0s ease 0s, left 0s ease 0s, right 0s ease 0s, all 0.3s ease 0s;
    position: relative;
    z-index: 1009;
    border-radius: 0px 40px 40px 0 !important;
}

.gmeTLe .side-icon {
    margin-right: 10px;
    width: 50px;
    font-size: 20px;
    text-align: center;

}

.sm-header{
 text-align: center;
 margin-left: 20px;  
}
.sm-header1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}
.jGeaPm .head-div {
    padding: 24px 30px;
    font-weight: bold;
    font-size: 17px;
   align-items: center !important;
    letter-spacing: 1px;
    overflow: hidden;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
}
.CDBSidebarMenuItem:hover {
    background-color: white !important;
    color: #000 !important; 
  }

  .gmeTLe:hover {
    background-color: white !important;
    color: #000 !important; 
    border-radius: 9px;
}  

.headercustom {
    font-size: 14px;
    white-space: break-spaces !important;    
    font-family: 'Roboto', sans-serif !important;
  }

.item-content{
    font-family: 'Roboto', sans-serif !important;
}

.msn-footer{
 
  padding-bottom: 1.5rem;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}

.logo-expanded .pnb-logoimage {
    width: 75px; /* Size for expanded sidebar */
  }
  
.logo-collapsed .pnb-logoimage {
    width: 75px; /* Size for collapsed sidebar */
    transition: width 0.3s ease-in-out;
  }
  