.pf-main {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.pf-container1 {
    display: flex;
    justify-content: space-evenly;
}

.pf-box1 {
    position: relative;
    padding: 40px;
    padding-top: 60px; 
    width: 30%;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden; 
}

.pf-box2 {
    position: relative;
    padding: 40px;
    padding-top: 60px; 
    width: 50%;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden; 
}

.pf-boxtitle {
    display: flex;
    align-items: center;
    padding-top: 1.5vh;
    padding-left: 1.5vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #f5f5f5; 
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pf-title{

}

.pf-content {
    margin-top: 20px; 
}

.pf-text {
    line-height: 1.5; 
    margin-bottom: 3.5vh;
}
