.pnb-component, .pf-container1 {
    overflow-y: hidden; /* Disable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.pf-container1 {
    max-height: 100vh; /* Ensure the container does not exceed the height of the viewport */
    overflow-y: auto; /* Enable scroll if content exceeds the height */
    padding: 10px; /* Adjust padding to prevent content overflow */
}

/* Add these styles for better layout control */
.pnb-component {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}