.msp-background{
    background-color: aqua;
}

/* Add this to your global CSS file or a dedicated CSS module */
.fc .fc-toolbar-title {
    font-size: 1.25rem;
    color: #007bff;
  }
  
  .fc .fc-daygrid-event {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
  }
  
  .fc .fc-daygrid-day-number {
    color: #007bff;
  }

  .forpayment-appointment{
    background-color: #fc983c;
    color: white;
    width: 100px;
    border-radius: 12px;
  }

  .action-button {
    border: none;
    color: #007bff;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
  }
  
  .action-button:hover {
    color: #0056b3;
  }
  
  .action-item {
    font-size: 14px;
    cursor: pointer;
  }
  
  .action-item:hover {
    background-color: #f8f9fa;
    color: #0056b3;
  }
  
  