.navtabs-pxmanagement {
    border-width: 0px;
    background-color: #f8f8f8;
    border-radius: 10px;
    justify-content: center; /* Center-align the nav tabs */
    padding: 10px 0; /* Padding around the nav bar */
  }
  
  
  
  .app-image-doctor {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  
  .navtabs-pxmanagement .nav-item {
   /* Light gray background */
    width: auto;
    border-radius: 100px; /* Rounded corners */
  
    padding-left: 0.5rem;
    padding-right: 0.5rem
  }
  
  .navtabs-pxmanagement .nav-link {
    color: #333; /* Text color */
    font-weight: bold;
    padding: 10px 20px; /* Padding inside tabs */
    text-align: center;
    transition: all 0.3s ease-out; /* Smooth transition for hover effect */
    border: 0;
  }
  
  .navtabs-pxmanagement .nav-link.active {
    background-color: #007bff !important; /* White background for active tab */
    color: #ffffff; /* Text color for active tab */
    border-color : #ffffff !important;
    border-radius: 10px;
   
  }
  
  .navtabs-pxmanagement .nav-link:hover {
    background-color: #007bff; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
    border-radius: 10px;
  }