
  
  
  .app-image-doctor {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  

  .navtabs-pxmanagement .nav-item {
    position: relative;
    margin-right: 2px;
    border: none;
}

.navtabs-pxmanagement .nav-link {

    color: #000000;
    border-radius: 20px 20px 0 0;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;

    
}

.navtabs-pxmanagement .nav-link.active {
    background-color: #ffffff;
    color: #2c2b48;
    border-bottom: none;
    border: none;
    /* box-shadow:  0 4px 4px  rgba(0, 0, 0, 0.03); Soft shadow */
}

.navtabs-pxmanagement .nav-link:hover {
    background-color: #414168;
    color: #ffffff;
    border: none;
}

.navtabs-pxmanagement {
   font-weight: 800;
}

.pnb-component {
    margin-top: 20px;
}

.pnb-content {
  background-color: #ffffff;
  padding: 1.5rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Border-radius for 'Patient Findings' tab */
.pnb-content.findings-tab {
  border-radius: 0px 10px 10px;
}

/* Border-radius for other tabs */
.pnb-content.other-tabs {
  border-radius: 10px 10px 10px;
}




  