/* Main container */
.caf-main {
    width: 90vw; 
    margin: auto;
    max-width: 100%;
}


.caf-box1 {
    position: relative;
    padding: 2vw; 

 
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.caf-box2 {
    position: relative;
    padding: 1vw; 

    width: 100%;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 3vh;
    margin-top: 3vh;
}


.caf-boxtitle {
    display: flex;
    align-items: center;
    padding: 1.5vh 1.5vh 0 1.5vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 5vh;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.app-boxtitle
{
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.app-box{
    max-width: 40rem ;
    border-width: 0;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
 
}

.caf-content {
    margin-top: 2vw; 
}


.caf-text {
    line-height: 1.5;
    margin-bottom: 3.5vh;
}




@media (max-width: 1920px) {
    .caf-main {
        width: 10vw; 
    }

    .caf-box1 {
        height: 60vh;
 
    }

    .caf-boxtitle {

        padding: 1vw 1vw 0 1vw; 
    }
}


@media (max-width: 1920px) {
    .caf-main {
        width: 10vw; 
    }

    .caf-box1 {
        height: 60vh;
 
    }

    .caf-boxtitle {

        padding: 1vw 1vw 0 1vw; 
    }
}

