.password-validation {
    padding-left: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.password-validation .valid {
    color: green;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.password-validation .invalid {
    color: gray;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.check-icon {
    margin-right: 5px;
}
