@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', sans-serif !important;
}

.molino-logo{
 width: 5.6rem;
 height:5.2rem
}

.table
{
  border-radius: 10px !important;
}

.select-dropdown{
  border-radius: 10px;

  color: gray;
}

.margin-left{
  margin-left: 0.5rem;
}