.approved-button {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    padding: 1px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;

}

.approved-button:hover {
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
}

.rejected-button {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    padding: 1px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.rejected-button:hover {
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}